body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
#input-el{
    border: 2px solid rgb(47, 132, 47);
    width: 90vw;
    height: 30px;
    padding-left: 10px;
    margin: 20px 0px 0 20px;
    padding-right: 10px;

}
#input-btn,#tab-btn{
    border: none;
    background-color: rgb(47, 116, 47);
    text-align: center;
    height: 40px;
    width: 160px;
    color: white;
    margin: 10px 0 0 20px ;
    cursor: pointer;
}
#delete-btn{
    border: 2px solid rgb(47, 116, 47);
    height: 40px;
    width: 160px;
    color: rgb(47, 116, 47);
    cursor: pointer;
    text-align: center;
    margin: 10px 0 0 20px;
}
#ul-el{
    list-style:  none;
    padding-left: 0;
    margin: 20px;

}
li{
    margin: 5px
}

a{
    color: rgb(47, 116, 47);
    

}
